.navbar{
  background-color:burlywood;
}
C:\Users\micha\Desktop\Bootstrap-Portfolio\images
.backGroundimage{
    background-image: url('images/background-image-2.jpg');
    background-size: cover;
    background-position: center;
    color: white  
}
.nav-item a:hover {
    color: #1894b0;
    text-decoration: underline;
  }
.custom-btn:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
.skills-section {
    padding: 20px;
  }
  #about {
    padding: 20px; 
  }