
.backGroundimage{
    background-image: url('images/background-image-1.jpg');
    background-size: cover;
    background-position: center;
    color: white  
}

.custom-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
